<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @execution.status %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @execution.formatted_progress %>
</p>

<p>
  <strong>Target function:</strong>
  <%= @execution.target_function %>
</p>

<p>
  <strong>Solution:</strong>

  <%= people_in_session(@assignments) %>
</p>

<%= link_to 'Back', event_path(@event) %>
