<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Max capacity:</strong>
  <%= @event.max_capacity %>
</p>

<p>
  <strong>Executions:</strong>
  <%= content_tag :ul do %>
    <% @event.executions.order(status: :asc, target_function: :asc).map do |execution| %>
      <%= content_tag :li, "#{execution.id} | #{execution.status} | target: #{execution.target_function.to_f} | progress: #{(100 * execution.progress.to_f).round}%" %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Preferences:</strong>
</p>
<table>
  <th>
    <% @event.sessions.each do |session| %>
      <%= content_tag :td, session.name %>
    <% end %>
  </th>

  <% @event.people.each do |person| %>
    <tr>
      <%= content_tag :td, person.name %>
      <% person.preferences.each do |preference| %>
        <%= content_tag :td, preference.value %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
