<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Max capacity:</strong>
  <%= @event.max_capacity %>
</p>

<p>
  <strong>Executions:</strong>

  <%= form_for :execution, url: event_executions_path(@event), method: :post do |f| %>
    <%= f.number_field :amount, value: 5 %>
    <%= f.submit 'Create executions' %>
  <% end %>

  <%= content_tag :ul do %>
    <% @event.executions.order(status: :asc, target_function: :asc).each_with_index.map do |execution, i| %>
      <%= content_tag :li, link_to("Execution #{i + 1}", event_execution_path(@event, execution)) + " | #{execution.status} | target: #{execution.target_function.to_f} | progress: #{execution.formatted_progress}" %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Preferences:</strong>
</p>
<table>
  <th>
    <% @event.sessions.each do |session| %>
      <%= content_tag :td, session.name %>
    <% end %>
  </th>

  <% @event.people.includes(:preferences).each do |person| %>
    <tr>
      <%= content_tag :td, person.name %>
      <% person.preferences.each do |preference| %>
        <%= content_tag :td, preference.value %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', events_path %>
